*{
    font-family: 'Roboto Slab', sans-serif;
    color: #333333;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.identificador{
    padding-top: 1em;
}

.logo{
    @include ajuste;
}

.links{
    @include ajuste;
}

.conjunto-link{
    transition: 0.5s;
}

.conjunto-link:hover{
    color: #555555;
}

.zerar-padding{
    padding-left: 0!important;
    padding-right: 0!important;
}